<div class="row">
    <div class="col-md-10 col-md-offset-1" style="margin-top: 20px;">
        <div class="col-md-3" ng-repeat="album in vm.albums">
            <div class="thumbnail">
                <a href="/album-detail/{{album.id}}"><img ng-src="../../../../../images/{{album.logo}}" height="175px" width="200px" alt="..."/></a>
                <div class="caption" style="color: white;">
                    <h4>{{album.title}}</h4>
                    <h3>
                        <a href="/edit-album/{{album.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <!--<a href="#"><span class="glyphicon glyphicon-trash" ng-confirm-click="Are you sure to delete this album ?" confirmed-click="vm.deleteAlbum(album.id)"></span></a>-->
                        <a href="#"><span class="glyphicon glyphicon-trash" ng-click="vm.deleteAlbum(album.id)"></span></a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
