<div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 20px;">
        <form class="edit-form" ng-submit="editctrl.saveSong()" name="myform">
            <div class="form-group">
                <label for="title">Song Title:</label>
                <input type="text" class="form-control" id="title" ng-model="editctrl.song_title" required>
            </div>
            <div class="form-group">
                <label for="language">Artist Name:</label>
                <input type="text" class="form-control" id="language" ng-model="editctrl.song_artist" required="required">
            </div>
            <div class="form-group" ng-show="editctrl.song_edit_mode">
                <img src="../../../../../images/{{editctrl.current_logo}}" height="100px" width="100px" alt="..."/>
            </div>
            <div class="form-group" ng-if="!editctrl.song_edit_mode">
                <label for="logo">Logo:</label>
                <input type="file" class="form-control" id="logo" file-model="editctrl.song_logo" required="required">
            </div>
            <div class="form-group" ng-if="editctrl.song_edit_mode">
                <label for="logo">Logo:</label>
                <input type="file" class="form-control" id="logo" file-model="editctrl.song_logo">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
            <a href="/album-detail/{{editctrl.album_id}}" class="btn btn-default" ng-click="">Cancel</a>
        </form>
    </div>
</div>