<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org">
<!--<html>-->
<head>
    <title>Hello</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body ng-app="app" ng-controller="MusicController as vm">
<!--<h1 data-th-text="${message}"></h1>-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search"/>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <div class="col-md-4 col-md-offset-4 form-group">
                    <button  type="button" class="btn btn-primary form-control" ng-click="vm.getAll()">All</button>
                    <select class="form-control" ng-model="itemSelected" ng-change="vm.getByLanguage(itemSelected.language)"
                            data-ng-options="item as item.language for item in vm.all_albums">
                    </select>
                </div>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Language</th>
                    <th style="width: 90px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="album in vm.albums">
                    <td>{{$index}}</td>
                    <td>{{album.title}}</td>
                    <td>{{album.language}}</td>
                    <td><button type="button" class="btn btn-danger" ng-click="vm.deleteAlbum(album.id)">Delete</button> </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>





</body>
<script src="/static/js/jquery-3.2.1.js" type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/static/js/angular.js" type="text/javascript" th:src="@{/js/angular.js}"></script>
<script src="/static/app/app.module.js" type="text/javascript" th:src="@{/app/app.module.js}"></script>
<script src="/static/app/music.controller.js" type="text/javascript" th:src="@{/app/music.controller.js}"></script>
</html>